---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";
import MainLayout from "../../layouts/MainLayout.astro";
//Path relativo
//------import PokemonCard from "../../components/pokemons/PokemonCard.astro";
//Path absoluto
//------import PokemonCard from "src/components/pokemons/PokemonCard.astro";
//Path Alias
import PokemonCard from "@components/pokemons/PokemonCard.astro";

export const getStaticPaths = (async() => {
    
    const resp=await fetch(`https://pokeapi.co/api/v2/pokemon?limit=151`);
    const data = await resp.json() as PokemonListResponse;
  
     return data.results.map(({name,url})=>{
        const id = url.split('/').at(-2);
        return {
            params:{id},
            props:{name,url}
        }
     });
}) satisfies GetStaticPaths;
const {id} = Astro.params;
const {url,name} = Astro.props;
const audioSrc=`https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`
---

<MainLayout title="Alguno">
    <section class="mt-10 mx-10 flex flex-col justify-center items-center">
        <div>
            <a href="/">Regresar</a>
            <h1 class="text-5xl capitalize">{name}</h1>
        </div>
        <PokemonCard url={url} name={name} isBig/>
        <audio controls class="mt-5">
            <source src={audioSrc} type="audio/ogg">
            Tu navegador no soporta el audio
        </audio>
    </section>

</MainLayout>